
@import "tailwindcss";
/* Tailwind v4 Theme Configuration 
  We map the Next.js font variables here so utility classes like 'font-sans' and 'font-rajdhani' work.
*/
/* @theme {
  --font-sans: var(--font-inter);
  --font-rajdhani: var(--font-rajdhani);
} */
/* 
body {
  background-color: #F2F2F2;
  color: #000000;
  font-family: var(--font-sans);
} */